body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.counter {
    margin-top: 20px;
    font-size: 24px;
}
/* Сброс стилей для видео */
video {
    max-width: 100%; /* Максимальная ширина видео 100% от родительского контейнера */
    height: auto; /* Высота будет автоматически подстраиваться */
}

/* Стили для контейнера */
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование содержимого по горизонтали */
}

/* Стили для круга */
.circle {
    background-color: #f50a1d;
    color: white;
    
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    position: relative;
}

/* Скрытие видео по умолчанию */
.hidden {
    display: none;
}


#click-text {
    position: absolute; /* Абсолютное позиционирование для центра */
    text-align: center;
}

.hidden {
    display: none;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .circle {
        width: 100px;
        height: 100px;
        font-size: 16px;
    }

    .counter {
        font-size: 20px;
    }
}
